import cucumber.api.CucumberOptions;
import org.junit.runner.RunWith;
import cucumber.api.junit.Cucumber;

@RunWith(CucumberWithSerenity.class)
@CucumberOptions(features = "$featureFile",
    format = {"pretty"},
    plugin = {"com.app.test.formatter.JSONScenarioFormatter:target/report${randCode}.json"},
    #if($glue)
    glue = {"${glue}"},
    #end
    tags = {$tags})
public class ${testPhaseIdentifier}${randCode}IT {
}
